{% extends 'base.html' %}
{% block title %}Nueva contraseña{% endblock %}

{% block content %}
<div class="form-section">
    <div class="form-container">

        <h2>Restablecer contraseña</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn">Actualizar contraseña</button>
        </form>

        <div class="form-footer">
            <a href="{% url 'login' %}">Volver al inicio de sesión</a>
        </div>

    </div>
</div>
{% endblock %}
