{% extends 'base.html' %}
{% block title %}Contraseña actualizada{% endblock %}

{% block content %}
<div class="form-section">
    <div class="form-container">

        <h2>Contraseña actualizada</h2>

        <p style="text-align:center;">
            Tu contraseña ha sido cambiada correctamente.
        </p>

        <a href="{% url 'login' %}" class="btn" style="display:block; text-align:center; margin-top:15px;">
            Iniciar sesión
        </a>
    </div>
</div>
{% endblock %}
